.kontener{
    background: orangered;
}


.tytul{
    background: orange;
}
.podtytul{
    background: pink;
}

.paragraf-1{
    background: yellow;
}
.paragraf-2{
    background: grey;
}

.lista{
    background: lawngreen;
}